<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    <title></title>
</head>
<body>
{% block main %}
{% endblock %}
<div class="container">
    <br/>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form action="{% url 'index' %}" method="post" class="card card-sm">
                {% csrf_token %}

                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="text" class="form-control form-control-lg form-control-borderless"
                               placeholder="Digite a palavra de busca" name="text1">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-lg btn-success">Localizar</button>
                    </div>
                </div>
            </form>
            <br>

            {% for var_search in search %}
            <td>
                <tr>{{var_search.name}}</tr>
                <br>
                <tr><a href="{{search.link}}">{{var_search.link}}</a></tr>
                <br>
                <tr>{{var_search.description}}</tr>
                <br>

                <br>
            </td>

            {% endfor %}
        </div>

    </div>
</div>
</body>
</html>






